.hero {
    padding-top: 93px;
    position: relative;
    overflow: hidden;

    @include xl {
        padding-top: 140px;
    }

    &::before {
        content: "";
        background: url("../img/hero-title-bg-mobile.png");
        opacity: 0.55;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 326px;
        width: 100%;
        position: absolute;
        left: 0;
        top: 92px;
       
        @include md {
            display: none;
        }
    }

    &::after {
        content: "";
        width: 100%;
        height: 489px;
        position: absolute;
        left: 0;
        bottom: 115px;
        background: rgba(79, 70, 78, 0.35);
        backdrop-filter: blur(30px);

        @include md {
            height: 713px;
        }

        @include xl {
            display: none;
            width: 770px;
            left: 50%;
            top: 0;
            transform: translateX(-3%);
            height: 800px;
        }
    }
    

    &__container {
        padding-top: 52px;
        position: relative;
        z-index: 3;

        @include xl {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__col {
       margin-bottom: 50px;

       &_left {
          
       }

       &_right {
           margin-bottom: 90px;
           @include xl {
                display: flex;
                justify-content: flex-end;
                margin-bottom: 0;
                width: 50%;
           }
       }

       @include xl {
            width: 50%;
            margin-bottom: 0;
       }
    }

    .hero__card {
        margin: 0 auto;

        @include xl {
            margin: 0;
        }
    }

    &__title-holder {
        margin: 0 auto 55px;
        text-align: center;
        max-width: 710px;
        width: 100%;

        @include md {
            margin: 0 auto 65px;
        }

        @include xl {
            text-align: left;
            margin: 0 0 118px 0;
        }

    }

    &__btn-list {
       max-width: 500px;
       width: 100%;
       margin: 0 auto;
       display: flex;
       text-align: center;

       @include xl {
            text-align: left;
            margin: 0 -8px 121px -8px;
       }
    }

    &__btn-item {
        width: 100%;
        display: inline;
        padding: 0 8px;
    }

    &__counter-list {
        display: flex;
        justify-content: center;
        @include xl {
            display: none;
        }

        &_desktop {
            display: none;

            @include xl {
                display: flex;
                justify-content: start;
                margin: 0 -45px;
            }

           
        }
    }

    &__counter-item {
        padding: 0 10px;
        text-align: center;

        @include sm {
            padding: 0 45px;
        }
    }

    &__counter-number {
        font-family: 'Oxanium', sans-serif;
        font-weight: 700;
        font-size: 36px;
        color: $mainTextColor;

        @include md {
            font-size: 52px;
        }
    }

    &__counter-title {
        font-family: 'Work Sans',sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: #9B9E9A;

        @include md {
            font-size: 20px;
        }
    }

}
