.btn {
    background: rgba(233, 215, 167, 0.1);
    border: 1px solid $main-yellow;  
    display: inline-block;

    max-width: 187px;
    padding: 15px;
    width: 100%;

    cursor: pointer;

    text-align: center;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: 600;

    transition: all 0.1s ease-in-out;

    &:hover {
        background: rgba(233, 215, 167, 0);
    }

    &:active {
        background: rgba(43, 42, 41, 0.807);
    }

    @include xxl {
        max-width: 257px;
        padding: 23px 15px;
        font-size: 28px;
    }
}

.btn_small{
    @extend .btn;
    //max-width: 155px;
}

.btn_large {
    @extend .btn;
    //max-width: 270px;
    //padding: 13px 0;
    background: rgba(233, 215, 167, 0.1);
    border: 1px solid #BCB39A;
}

.btn_yellow {
    @extend .btn;
    background-color: $main-yellow;
    color: $mainBlack;

    &:hover {
        background: $mainOrange;
    }

    &:active {
        background: #bb922b;
    }
}


.btn_yellow_small {
    @extend .btn_yellow;
   // max-width: 121px;
    //padding: 8px 0;
    font-size: 16px;
}

.btn_orange {
    @extend .btn_yellow;
    background-color: $mainOrange;
}
