//colors
$main-yellow : #FFCE4E;
$mainTextColor: #F5FBF2;
$mainBlack: #16091B;
$mainOrange: #E7B226;
$bgColor: #1C121F;

//breakpoints
$tablet: 768px;
$tabletLarge: 992px;
$desktopSmall: 1200px;
$desktopMedium: 1400px